body{
	font-family : sans-serif;
	color : #333;
}

#container {
    width: 400px;
    margin: auto;
}

h1#time {
	font-size:150px!important;
	text-align: center;
}

div#inputArea {
    text-align: center;
}

